<!DOCTYPE html>
<html>
<head>
	<title>Nodes</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menubar.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nodes.css') }}">
</head>
<body>
	<ul id="menu">
		<li><a href="#">Home</a></li>
		<li><a href="#">Mine</a></li>
		<li class="dropdown">
			<a href="javascript:void(0)" class="dropdown">&middot;New&middot;</a>
			<div class="cont">
				<a href="#">Transaction</a>
				<a href="#">Node</a>
				<a href="#">Software</a>
			</div>
		</li>
	</ul>
	<br>
	<form>
		<p>Adress needs to begin with http://</p>
		<br>
		<input type="text" name="nodes" placeholder="Nodes Adresses: ">
		<button>Add Node</button>
	</form>
	<ul id="node_list">
		{% for node in nodes %}
		{% if not nodes %}
		<li>There's no nodes...</li>
		{% else %}
		<li>{{ node }}</li>
		{% endif %}
		{% endfor %}
	</ul>
</body>
</html>